/*
headings, paragraphs or divs always begin on a new line and take up the full width available by default.
*/

* {
  margin: 0;
}

button,
.bob,
#rob {
  height: 100px;
  min-width: 50px;
  max-width: 100px;
  text-decoration: overline red double 5px;
  direction: rtl;
  background-color: aqua;
  text-shadow: 3px 3px 3px orange;
  text-align: center;
  text-transform: uppercase;
  line-height: 10px;
  letter-spacing: -1px;
  z-index: 1;
  position: relative;
}

.absoluteBtn {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.inlineStyle {
  display: inline;
}

/*All selectors inside p, like strong etc*/
p * {
  font-family: 'Courier New', Courier, monospace;
  margin: 10px;
}

#para1 {
  border-style: dashed;
  border-width: medium;
  border-color: brown blue;
  border-radius: 10px;
}

#para3 {
  border: 1cm double yellow;
  padding: 5px 10px;
  /*To allow scroll scrolling if necessary*/
  overflow: auto;
}

img {
  width: 100px;
  height: 100px;
}

#img1 {
  float: left;
}
/*Clear is basically choosing side we will 
clear of the element above during float*/

.text {
  clear: both;
}

div:hover {
  width: 300px;
  height: 300px;
  /*property is everything I want to change during transition, can add time*/

  transition-property: width, height, transform;
  transition-duration: 2s, 2s, 2s;
  transition-timing-function: linear;
  transition-delay: 1s;
  transform: rotate(180deg);
}
